body {
  margin: 0;
  text-align: center;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace

}

h1 {
  margin-top: 0;
  font-family: 'Arvo', serif;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'PT Serif', serif;
}

.programmer {
  font-size: 150%;
}

.top-container {
  background-color: #dbe2ef;
  padding-top: 100px;

}

.site-pic {
  height: 100px;
  width: 100px;
}

.top-cloud{
  position: absolute;
  right: 320px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 450px;
}
